IndentWidth: 4
TabWidth: 4
UseTab: Always
---
Language: ObjC
BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ObjCBlockIndentWidth: 4
ColumnLimit: 100
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: Empty
ObjCBinPackProtocolList: Auto
ObjCBreakBeforeNestedBlockParam: true
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: true
